<html>
	<head>
		<title>COVID Dashboard</title>
		<style type="text/css">
			.content_left{
				overflow: auto;
				border: 3px solid #000;
				width: 48%;
				float: left;
			}
			.content_right{
				overflow: auto;
				border: 3px solid #000;
				width: 48%;
				float: right;
			}
		</style>
	</head>
	<body>
		<p><h2 align="center">Welcome to age wise analysis</h2></p>
		<p><h2 align="center">Showing results for {{ country }}</h2></p>
		<div class="content_left">
			<h3 align="center">Confirmed Cases</h3>
			<img src="data:image/png;base64, {{ plot_url[0] }}" height="500">
		</div>
		<div class="content_right">
			<h3 align="center">Deceased Cases</h3>
			<img src="data:image/png;base64, {{ plot_url[1] }}" height="500">
		</div>

		<script type="text/javascript">
			var header_elem = document.getElementById("header_nav");

	        // $(window).on("scroll", function() {
	        //     // console.log(document.body.scrollTop);
	        //     if (document.body.scrollTop > 150) {
	        //         if (!header_elem.classList.contains("sticky-header")) {
	        //             header_elem.classList.remove("hide-sticky-header")
	        //             header_elem.classList.add("sticky-header");
	        //         }
	        //     } else {
	        //         header_elem.classList.remove("sticky-header");
	        //         header_elem.classList.add("hide-sticky-header");
	        //     }
	        // });
		</script>
	</body>
</html>